.iPhoneWrap {
  position: relative;
  background-color: #26e6e6;
  font-family: Montserrat;
}
.iPhoneWrap .iPhone {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
}
.iPhoneWrap .iPhone .slider {
  position: relative;
}
.iPhoneWrap .iPhone .slider .previous {
  position: absolute;
  left: 10%;
  bottom: 10%;
}
.iPhoneWrap .iPhone .slider .next {
  position: absolute;
  right: 10%;
  top: 10%;
}
.iPhoneWrap .iPhone .slider .iPhonePic {
  width: 100%;
}
.iPhoneWrap .iPhone .block {
  position: relative;
  background-color: #fff;
  font-family: Montserrat;
  margin: 5% 0;
}
.iPhoneWrap .iPhone .block .blockItem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.iPhoneWrap .iPhone .block .blockItem .blockItemName {
  font-size: 18px;
}
.iPhoneWrap .iPhone .block .blockItem .blockItemtext {
  font-size: 14px;
}
.iPhoneWrap .iPhone .block .blockButton {
  border: none;
  color: #fff;
  background-color: #000;
  width: 100%;
  cursor: pointer;
  padding: 10px;
}
