.buildIt
    display flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    font-family: Montserrat
    opacity: 0;
    transition: opacity 1s;
    .buildContent
        display flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        margin-bottom: 100px
        .buildName
            font-size: 72px
        .buildText
            font-size: 18px
            width 40%
            text-align: center
    .buildCards
        display: flex
        flex-direction: row
        justify-content: space-between
        width: 60%
        margin: 50px 0
        .card
            display flex
            flex-direction: column
            justify-content: space-around
            font-family: Montserrat
            min-height: 250px
            flex-basis 25%
            .cardName
                flex-basis: 20%
                margin: 0
                text-transform: uppercase
                font-size: 14px
                font-weight: bold
            .cardText
                flex-basis: 70%
                margin: 0
                font-size: 14px
                opacity 0.8
            .cardButton
                flex-basis: 10%
                text-transform: uppercase
                border: none 
                background: transparent
                font-size: 14px
                font-weight: bold
                cursor pointer
                text-align: left
                padding: 0