.doIt
    width: 100%
    position relative
    opacity: 0;
    transition: opacity 1s;
    .doItWrap
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        .doItName
            text-transform: uppercase
            font-size: 26px
        .doItPhoto
            display: flex
            flex-direction: row
            justify-content: space-between
            .photoDemo
                position relative
                .photoButton
                    position: absolute
                    top 50%
                    left 50%
                    border: none 
                    cursor pointer
                    background-color: #26e6e6
                    text-transform: uppercase
                    width 140px
                    height 40px
                    margin-top: -20px
                    margin-left: -70px
        .doItPhoto2
            margin 20px
    .leftPhoto
        position: absolute
        left 0
        top 50%
    .rightPhoto
        position: absolute
        right 0
        top 30%
.join
    width 80%
    text-align: center
    margin 100px auto
    font-size: 72px


                