.firstFeautures
    display flex
    flex-direction: row
    width: 60%
    margin 0 auto
    opacity: 0;
    transition: opacity 1s;
    .card
        display flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        text-align: center
        font-family: Montserrat
        min-height: 250px
        .cardImg
            flex-basis 25%
        .cardName
            flex-basis:  25%
            margin: 0
            text-transform: uppercase
            font-size: 14px
        .cardText
            flex-basis: 40%
            margin: 0
            font-size: 14px
        .cardButton
            flex-basis: 10%
            text-transform: uppercase
            border: none 
            background: transparent
            font-size: 14px
            font-weight: bold
            cursor pointer
