.footer
    position relative
    display flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    opacity: 0;
    transition: opacity 1s;
    .footerLayer
        position: absolute
        bottom 0
        left 0
        width 100%
        z-index -1
    .footerText
        position relative
        width: 60%
        margin 200px auto
        text-transform: uppercase
        z-index -2
        h3
            text-align: right
            font-size 90px
            font-weight: bold
    .footerMenu
        margin: 0 auto 
        width 60%
        min-height 200px
        padding 50px
        display flex
        justify-content: space-between
        align-content: flex-start
        background-color #000000
        color #ffffff
        margin-bottom: 100px
        .footerLogo
            width  5%
        .footerMenuSection
            width 15%
            .singleFooterMenu
                list-style: none
                text-transform: uppercase
                margin 0
                li
                    padding-bottom: 20px
                    cursor: pointer
                    font-size: 12px
                    opacity 0.6
                li:hover
                    opacity 1
        .footerAtt
            width 40%
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: flex-end
            .madeBy
                margin-top 0
                opacity 0.4
                text-align: right
                text-transform: uppercase
                font-size 11px
            .communications
                width 50%
                .web
                    margin-top 0
                    opacity 0.4
                    text-align: right
                    font-size 12px
                .socials
                    display: flex
                    justify-content: space-between
                    img
                        opacity 0.4
                    img:hover
                        opacity 1
