.header
    position: relative
    box-sizing: border-box
    height 0
    padding-top 56.06%
    opacity: 0;
    transition: opacity 1s;
    .headerMenu
        position absolute
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        width: 60%
        top 10px
        left 20%
        .mainMenu
            list-style: none
            text-transform: uppercase
            display flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            font-family: Montserrat
            font-size: 12px
            .mainMenuItem
                margin 0 5px
                box-sizing: border-box
            .smallButton
                color: #ffffff
                background-color #000000
                padding: 10px 5px
                position: relative
    .layer
        position: absolute
        width 100%
        top 0
        left 0
        z-index: -1
    .headerText
        position: absolute
        left 20%
        top 50%
        text-transform: uppercase            
        font-family: Montserrat
        margin-top -101px
        width: 40%
        .headerText1
            font-size: 72px
            margin: 0
        .headerText2
            font-size: 12px
            margin: 0
