@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import './header.styl'
@import './firstFeautures.styl'
@import './iPhone.styl'
@import './buildSection.styl'
@import './iPad.styl'
@import './platform.styl'
@import './quotes.styl'
@import './doit.styl'
@import './prices.styl'
@import './footer.styl'

body
    margin: 0
    position relative
    font-family: Montserrat
    div.scroll-watch-in-view 
    footer.scroll-watch-in-view
        opacity: 1
