@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import './header.styl'
@import './firstFeautures.styl'
@import './iPhone.styl'
    
body
    margin: 0
    position relative