.iPad
    position relative
    background-color #000000
    width 80%
    margin 0 auto
    opacity: 0;
    transition: opacity 1s;
    .content
        color #ffffff
        min-height 600px
        display flex
        flex-direction: column
        justify-content: space-around
        align-items: flex-start
        width 40%
        margin-left 10%
        .iPadHead
            font-size: 36px
    .iPadButton
        background-color #26e6e6
        border: none 
        border-radius: 20px
        color #000000
        padding 10px 20px
        text-transform: uppercase
    .image
        position: absolute
        top 40%
        right 0
        margin-right -10%
        display: flex
        align-items: center
        justify-content: flex-end
        width: 80%
        img
            max-height: 600px


