.iPhoneWrap
    position relative
    background-color: #26e6e6
    opacity: 0;
    transition: opacity 1s;
    .iPhone
        position relative
        display: flex
        align-items: center
        width 80%
        margin 0 auto
        .slider
            position relative
            .previous
                position: absolute
                left 10%
                bottom 10%
            .next
                position: absolute
                right 10%
                top 10%
            .iPhonePic
                width: 100%
        .block
            position relative
            background-color #ffffff
            font-family: Montserrat
            margin: 5% 0
            .blockItem
                display flex
                .blockItemName
                    font-size: 18px
                .blockItemtext
                    font-size: 14px
            .blockButton
                border: none 
                color #ffffff
                background-color #000000
                width 100%
                cursor pointer
                padding 10px
