.quotes
    position: relative
    min-height: 550px
    overflow hidden
    opacity: 0;
    transition: opacity 1s;
    .quote
        position relative
        margin 0 auto
        width 40%
        .quoteup
            position: absolute
            top 0
            left 0
        .quotedown
            position: absolute
            bottom 0
            right 0
        .quoteText
            display: flex
            flex-direction: column
            justify-content: space-between
            padding: 5px 0
            width: 90%
            .quoteTextContent
                text-align: center
                font-size: 42px
                flex-basis: 80%
                font-weight: 300
            .quoteAuthor
                text-align: center
                text-transform: uppercase
                font-size 12px
                flex-basis: 20%
    .quoteLeft
        position absolute
        top 0
        left -20%
        width 40%
        .quoteup
            position: absolute
            top 0
            left 0
        .quotedown
            position: absolute
            bottom 0
            right 0
        .quoteText
            display: flex
            flex-direction: column
            justify-content: space-around
            padding: 5px 0
            width: 90%
            p
                text-align: center
                font-size: 42px
            p:last-child
                text-transform: uppercase
                font-size 12px
    .quoteRight
        position absolute
        top 0
        right -20%
        width 40%
        .quoteup
            position: absolute
            top 0
            left 0
        .quotedown
            position: absolute
            bottom 0
            right 0
        .quoteText
            display: flex
            flex-direction: column
            justify-content: space-around
            padding: 5px 0
            width: 90%
            p
                text-align: center
                font-size: 42px
            p:last-child
                text-transform: uppercase
                font-size 12px